= simple_form_for comment, url:, html: { class: custom_class }, data: { turbo: false } do |f|
  = f.input :parent_id, as: :hidden
  = f.input :content, label: false

  = f.button :submit, t('.submit_button'), class: 'btn-primary'
